@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,300&family=Open+Sans:wght@300;400&display=swap");
.button, .structure__contacto #Form form button, .structure__products #carritoCompras .carritoTotal .comprarBtn, .structure__products #ProdList .products__figure .btn-carrito, .structure__products #ProdFilters .products__search--btn, section .index__productlines--figure .productlines--btn, #error .error__button {
  font-family: "Nunito", sans-serif;
  color: rgb(251, 253, 241);
  border-radius: 5px;
  border: none;
  background: linear-gradient(to bottom, rgb(118, 200, 147), rgb(82, 182, 154));
}
.button:hover, .structure__contacto #Form form button:hover, .structure__products #carritoCompras .carritoTotal .comprarBtn:hover, .structure__products #ProdList .products__figure .btn-carrito:hover, .structure__products #ProdFilters .products__search--btn:hover, section .index__productlines--figure .productlines--btn:hover, #error .error__button:hover {
  background: linear-gradient(to bottom, rgb(45, 138, 77), rgb(45, 138, 77));
  cursor: pointer;
  transition: all 0.3s;
}

#nav {
  background-color: rgba(136, 180, 164, 0.9);
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}
#nav .nav__logo {
  height: 9vh;
}
@media (min-width: 768px) {
  #nav .nav__logo {
    height: 10vh;
  }
}
@media (min-width: 320px) {
  #nav .nav-item {
    font-size: 0.8rem;
  }
}
@media (min-width: 768px) {
  #nav .nav-item {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  #nav .nav-item {
    font-size: 1.2rem;
  }
}
#nav .nav-item:hover {
  animation-name: animateNavLinks;
  animation-duration: 0.5s;
  background: linear-gradient(to top, rgb(52, 103, 39), rgb(52, 103, 39));
  background-position: 0 80%;
  background-repeat: no-repeat;
  color: rgb(52, 103, 39);
  background-size: 100% 2px;
}
#nav .nav-item a {
  color: rgb(52, 103, 39);
}

@keyframes animateNavLinks {
  0% {
    background: linear-gradient(to top, rgb(52, 103, 39), rgb(52, 103, 39));
    background-position: 0 80%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
  }
  100% {
    background: linear-gradient(to top, rgb(52, 103, 39), rgb(52, 103, 39));
    background-position: 0 80%;
    background-repeat: no-repeat;
    background-size: 100% 2px;
  }
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: rgb(24, 78, 119);
}

p {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: rgb(2, 36, 64);
}

a {
  text-decoration: none;
}

.banner {
  background-image: url(../img/banner.webp);
  background-size: cover;
  height: 20vh;
}
@media (min-width: 768px) {
  .banner {
    height: 23vh;
  }
}
.banner h1 {
  padding-top: 13vh;
  padding-bottom: 1vh;
  color: rgb(251, 253, 241);
  text-shadow: -4px 4px 5px rgb(25, 25, 24);
}
@media (min-width: 320px) {
  .banner h1 {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .banner h1 {
    font-size: 1.9rem;
  }
}
@media (min-width: 1024px) {
  .banner h1 {
    font-size: 1.9rem;
  }
}
@media (min-width: 768px) {
  .banner h1 {
    padding-top: 14.5vh;
  }
}

#footer {
  background-color: rgba(136, 180, 164, 0.9);
  width: 100%;
  height: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  #footer {
    height: 9vh;
  }
}
#footer .footer__icon {
  height: 4vh;
  opacity: 0.8;
  margin-right: 0.8vw;
}
#footer .footer__icon:hover {
  opacity: 1;
}
@media (min-width: 768px) {
  #footer .footer__icon {
    height: 6vh;
  }
}

#error {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
#error img {
  width: 65vw;
  max-width: 320px;
}
#error h1 {
  margin-top: 2vh;
}
@media (min-width: 320px) {
  #error h1 {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  #error h1 {
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  #error h1 {
    font-size: 1.5rem;
  }
}
@media (min-width: 320px) {
  #error h2 {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  #error h2 {
    font-size: 1.3rem;
  }
}
@media (min-width: 1024px) {
  #error h2 {
    font-size: 1.3rem;
  }
}
#error .error__text {
  font-family: "Nunito", sans-serif;
  color: rgb(2, 36, 64);
  font-weight: 700;
}
#error .error__button {
  padding: 1vh 1vw;
  margin-top: 2vh;
  margin-bottom: 5vh;
}
@media (min-width: 320px) {
  #error .error__button {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  #error .error__button {
    font-size: 1.3rem;
  }
}
@media (min-width: 1024px) {
  #error .error__button {
    font-size: 1.3rem;
  }
}

@media (min-width: 320px) {
  header h1 {
    font-size: 1.3rem;
  }
}
@media (min-width: 768px) {
  header h1 {
    font-size: 1.3rem;
  }
}
@media (min-width: 1024px) {
  header h1 {
    font-size: 1.7rem;
  }
}
@media (min-width: 320px) {
  header h2 {
    font-size: 1.1rem;
  }
}
@media (min-width: 768px) {
  header h2 {
    font-size: 0.1rem;
  }
}
@media (min-width: 1024px) {
  header h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 320px) {
  section h3 {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  section h3 {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  section h3 {
    font-size: 1.3rem;
  }
}
section .index__productlines--figure {
  width: 35vw;
  height: auto;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section .index__productlines--figure img {
  width: 60%;
  height: auto;
  max-width: 230px;
  margin-bottom: 2vh;
}
section .index__productlines--figure figcaption {
  font-family: "Nunito", sans-serif;
  color: rgb(2, 36, 64);
}
@media (min-width: 320px) {
  section .index__productlines--figure figcaption {
    font-size: 0.8rem;
  }
}
@media (min-width: 768px) {
  section .index__productlines--figure figcaption {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  section .index__productlines--figure figcaption {
    font-size: 1.3rem;
  }
}
section .index__productlines--figure .productlines--btn {
  padding: 0.4rem 0.1rem;
}
@media (min-width: 320px) {
  section .index__productlines--figure .productlines--btn {
    font-size: 0.8rem;
  }
}
@media (min-width: 768px) {
  section .index__productlines--figure .productlines--btn {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  section .index__productlines--figure .productlines--btn {
    font-size: 1.2rem;
  }
}
section .index__productlines--figure .productlines--btn a {
  color: rgb(251, 253, 241);
}
section .clients__div {
  width: 30%;
}
section .clients__div .clients__logos {
  filter: grayscale(100%);
}
section .clients__div .clients__logos:hover {
  filter: grayscale(0%);
  transition: filter 2s;
  cursor: pointer;
}
@media (min-width: 1024px) {
  section .clients__div {
    width: 15%;
  }
}

.structure__nosotros {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "nosimg" "historia" "servprod";
  justify-items: center;
  align-items: center;
}
@media (min-width: 320px) {
  .structure__nosotros h2 {
    font-size: 1.3rem;
  }
}
@media (min-width: 768px) {
  .structure__nosotros h2 {
    font-size: 1.3rem;
  }
}
@media (min-width: 1024px) {
  .structure__nosotros h2 {
    font-size: 1.5rem;
  }
}
.structure__nosotros p {
  text-align: justify;
}
@media (min-width: 320px) {
  .structure__nosotros p {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .structure__nosotros p {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  .structure__nosotros p {
    font-size: 1.1rem;
  }
}
.structure__nosotros #NosImg {
  grid-area: nosimg;
  width: 70vw;
  height: auto;
}
@media (min-width: 1024px) {
  .structure__nosotros #NosImg {
    width: 90%;
    height: auto;
    margin-left: 5vw;
  }
}
.structure__nosotros #Historia {
  grid-area: historia;
}
.structure__nosotros #ServProd {
  grid-area: servprod;
}
.structure__nosotros .nosotros__article {
  width: 85%;
  max-width: 700px;
}
@media (min-width: 1024px) {
  .structure__nosotros {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: "nosimg historia" "nosimg servprod";
  }
}

.structure__products {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "filters" "products" "carrito";
}
.structure__products #ProdFilters {
  grid-area: filters;
  font-family: "Nunito", sans-serif;
}
.structure__products #ProdFilters .products__search--btn img {
  height: 3.5vh;
  width: auto;
}
.structure__products #ProdList {
  grid-area: products;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}
.structure__products #ProdList .products__figure {
  width: 90%;
  max-width: 400px;
  height: auto;
  padding: 3vh 3vw;
  border: rgb(82, 182, 154) solid 0.1em;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.structure__products #ProdList .products__figure .prod-img {
  width: 50vw;
  max-width: 300px;
}
.structure__products #ProdList .products__figure .prod-img:hover {
  transform: scale(1.2);
  transition: transform 1s;
  cursor: pointer;
}
@media (min-width: 768px) {
  .structure__products #ProdList .products__figure .prod-img {
    width: 30vw;
    max-width: 300px;
  }
}
@media (min-width: 1024px) {
  .structure__products #ProdList .products__figure .prod-img {
    width: 15vw;
  }
}
.structure__products #ProdList .products__figure figcaption {
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 2vh;
  text-align: center;
  height: 55px;
}
@media (min-width: 768px) {
  .structure__products #ProdList .products__figure {
    width: 45%;
  }
}
@media (min-width: 1024px) {
  .structure__products #ProdList .products__figure {
    width: 30%;
    margin-right: 1.5vw;
  }
}
.structure__products #ProdList .products__figure .btn-carrito {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 0.5vw;
}
.structure__products #ProdList .products__figure .btn-carrito img {
  width: 2.5vw;
  padding: 0;
  margin-left: 0.5vw;
}
.structure__products #ProdList .emptySpace {
  width: 90%;
  max-width: 400px;
  height: auto;
  padding: 3vh 3vw;
  border: none;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .structure__products #ProdList .emptySpace {
    width: 45%;
  }
}
@media (min-width: 1024px) {
  .structure__products #ProdList .emptySpace {
    width: 30%;
    margin-right: 1.5vw;
  }
}
@media (min-width: 768px) {
  .structure__products #ProdList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 1024px) {
  .structure__products #ProdList {
    justify-content: center;
  }
}
.structure__products #carritoCompras {
  grid-area: carrito;
}
.structure__products #carritoCompras h3 {
  text-align: start;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 5vh 0;
  padding: 1.5vh 1vw;
  border-bottom: solid rgb(2, 36, 64) 0.07em;
}
.structure__products #carritoCompras h4 {
  text-align: start;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .structure__products #carritoCompras h4 {
    font-size: 1.2rem;
  }
}
.structure__products #carritoCompras .prodAgregado {
  border-bottom: 0.05em solid rgb(82, 182, 154);
}
.structure__products #carritoCompras .prodAgregado .prodAgregadoImgNombre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.structure__products #carritoCompras .prodAgregado .prodAgregadoImgNombre p {
  font-size: 0.8rem;
  font-weight: 700;
  height: 100%;
  padding-bottom: 0.5vh;
}
@media (min-width: 768px) {
  .structure__products #carritoCompras .prodAgregado .prodAgregadoImgNombre p {
    font-size: 1rem;
  }
}
.structure__products #carritoCompras .prodAgregado .prodAgregadoImgNombre img {
  padding-top: 1vh;
  width: 10vw;
  max-width: 100px;
}
@media (min-width: 768px) {
  .structure__products #carritoCompras .prodAgregado .prodAgregadoImgNombre {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 1vh 0;
  }
}
.structure__products #carritoCompras .prodAgregado .prodAgregadoPrecio {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 100%;
  padding: 0.7vh 0;
}
.structure__products #carritoCompras .prodAgregado .prodAgregadoPrecio p {
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  .structure__products #carritoCompras .prodAgregado .prodAgregadoPrecio p {
    font-size: 1.2rem;
  }
}
.structure__products #carritoCompras .prodAgregado .prodAgregadoCantidad {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 100%;
  padding: 1vh 2vw;
}
.structure__products #carritoCompras .prodAgregado .prodAgregadoCantidad .prodAgregadoCantidadInput {
  width: 10vw;
  margin-right: 0.5vw;
}
@media (min-width: 768px) {
  .structure__products #carritoCompras .prodAgregado .prodAgregadoCantidad .prodAgregadoCantidadInput {
    width: 5vw;
    margin-right: 0.5vw;
  }
}
.structure__products #carritoCompras .prodAgregado .prodAgregadoCantidad .btnDelete {
  background-color: rgb(255, 0, 0);
  border-radius: 3px;
}
.structure__products #carritoCompras .carritoTotal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: solid rgb(2, 36, 64) 0.07em;
}
.structure__products #carritoCompras .carritoTotal h5 {
  margin-top: 3vh;
  font-size: 1.3rem;
  font-weight: 700;
}
.structure__products #carritoCompras .carritoTotal h6 {
  font-size: 1.3rem;
  margin-left: 1vw;
  margin-top: 3vh;
  border: solid 0.1em rgb(82, 182, 154);
  border-radius: 5px;
  padding: 0.7vh 0.7vw;
}
.structure__products #carritoCompras .carritoTotal .comprarBtn {
  font-size: 1.2em;
  padding: 0.5vh 0.5vw;
  margin: 3vh 0 1.5vh 3vw;
}
.structure__products #carritoCompras .carritoTotal .vaciarCarritoBtn {
  opacity: 0.6;
  text-decoration: underline;
  color: rgb(25, 25, 24);
  font-size: 1rem;
  padding: 0.5vh 0.5vw;
  margin: 3vh 0 1.5vh 3vw;
  align-self: flex-end;
}
@media (min-width: 1024px) {
  .structure__products {
    grid-template-columns: 20% 80%;
    grid-template-areas: "filters products" "carrito carrito";
  }
}

.structure__galery {
  width: 100%;
  padding: 0 3vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 2vh;
  grid-template-areas: "photo1" "photo2" "photo3" "photo4" "photo5" "photo6" "photo7" "photo8" "photo9" "photo10" "photo11" "photo12" "photo13" "photo14" "photo15";
}
.structure__galery #Photo1 {
  grid-area: photo1;
}
.structure__galery #Photo2 {
  grid-area: photo2;
}
.structure__galery #Photo3 {
  grid-area: photo3;
}
.structure__galery #Photo4 {
  grid-area: photo4;
}
.structure__galery #Photo5 {
  grid-area: photo5;
}
.structure__galery #Photo6 {
  grid-area: photo6;
}
.structure__galery #Photo7 {
  grid-area: photo7;
}
.structure__galery #Photo8 {
  grid-area: photo8;
}
.structure__galery #Photo9 {
  grid-area: photo9;
}
.structure__galery #Photo10 {
  grid-area: photo10;
}
.structure__galery #Photo11 {
  grid-area: photo11;
}
.structure__galery #Photo12 {
  grid-area: photo12;
}
.structure__galery #Photo13 {
  grid-area: photo13;
}
.structure__galery #Photo14 {
  grid-area: photo14;
}
.structure__galery #Photo15 {
  grid-area: photo15;
}
.structure__galery .box__img {
  width: 100%;
  height: 100%;
}
.structure__galery .box__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .structure__galery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 300px);
    column-gap: 2vw;
    row-gap: 3vh;
    grid-template-areas: "photo1 photo2" "photo3 photo4" "photo5 photo6" "photo7 photo8" "photo9 photo10" "photo11 photo12" "photo13 photo14" "photo15 none";
    justify-items: center;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .structure__galery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 400px);
    column-gap: 1.5vw;
    grid-template-areas: "photo1 photo1 photo2" "photo1 photo1 photo3" "photo4 photo4 photo4" "photo5 photo5 photo5" "photo6 photo6 photo7" "photo8 photo9 photo9" "photo10 photo10 photo11" "photo12 photo12 photo12" "photo13 photo14 photo15";
  }
}

.structure__contacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "form" "datos";
}
.structure__contacto h3 {
  font-size: 1.3rem;
}
.structure__contacto #Form {
  grid-area: form;
}
.structure__contacto #Form form {
  width: 100%;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}
.structure__contacto #Form form label {
  font-size: 1.1rem;
  color: rgb(2, 36, 64);
}
.structure__contacto #Form form legend {
  font-size: 1.3rem;
  color: rgb(2, 36, 64);
}
.structure__contacto #Form form button {
  align-self: center;
}
.structure__contacto #Form form button a {
  color: rgb(251, 253, 241);
}
@media (min-width: 768px) {
  .structure__contacto #Form form {
    max-width: 600px;
    margin: 0 auto;
  }
}
.structure__contacto #Datos {
  grid-area: datos;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}
.structure__contacto #Datos iframe {
  width: 80vw;
  height: 300px;
  border: none;
}
@media (min-width: 768px) {
  .structure__contacto #Datos iframe {
    width: 450px;
  }
}
.structure__contacto #Datos div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.structure__contacto #Datos div img {
  width: 5vw;
  max-width: 30px;
  margin-bottom: 0.5vh;
}
.structure__contacto #Datos div p {
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .structure__contacto #Datos div {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .structure__contacto {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "form datos";
  }
}

/*# sourceMappingURL=style.css.map */
