//mixins
@mixin medias ($breakpoint){
    @if $breakpoint == mobile{
        @media (min-width: 320px){
            @content;
        }
    }
    @if $breakpoint == tablet{
        @media (min-width: 768px){
            @content;
        }
    }
    @if $breakpoint == desktop{
        @media (min-width: 1024px){
            @content;
        }
    }
}
@mixin display-flex ($direction, $justify-content, $align-items){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}
@mixin font-size ($fs1, $fs2, $fs3){
    @include medias (mobile){
        font-size: $fs1;
    }
    @include medias (tablet){
        font-size: $fs2;
    }
    @include medias (desktop){
        font-size: $fs3;
    }
}

//botones - clase base
.button{
    font-family: $mainFont;
    color: map-get($map:$palette, $key:'white');
    border-radius: 5px;
    border: none;
    background: linear-gradient(to bottom, map-get($map:$palette, $key:'lightGreen'), map-get($map:$palette, $key:'aqua'));
    &:hover{
        background: linear-gradient(to bottom, map-get($map:$palette, $key:'green'), map-get($map:$palette, $key:'green'));
        cursor: pointer;
        transition: all .3s;
    }
}

//Elementos comunes a todas las páginas
#nav{
    background-color: map-get($map:$palette, $key:'mainBg');
    font-family: $mainFont;
    font-weight: $textRegular;
    .nav__logo{
        height: 9vh;
        @include medias (tablet){
            height: 10vh;
        }
    }
    .nav-item{
        @include font-size(0.8rem,1rem,1.2rem);
        &:hover{
            animation-name: animateNavLinks;
            animation-duration: 0.5s;
            background: linear-gradient(to top, map-get($map:$palette, $key:'darkGreen'), map-get($map:$palette, $key:'darkGreen'));
            background-position: 0 80%; 
            background-repeat: no-repeat; 
            color: map-get($map:$palette, $key:'darkGreen');
            background-size: 100% 2px;
        }
        a{
            color: map-get($map:$palette, $key:'darkGreen');
        }
    }
}
@keyframes animateNavLinks{
    0%{
        background: linear-gradient(to top, map-get($map:$palette, $key:'darkGreen'), map-get($map:$palette, $key:'darkGreen')); 
        background-position: 0 80%; 
        background-repeat: no-repeat; 
        background-size: 0% 2px;
    }
    100%{
        background: linear-gradient(to top, map-get($map:$palette, $key:'darkGreen'), map-get($map:$palette, $key:'darkGreen')); 
        background-position: 0 80%; 
        background-repeat: no-repeat; 
        background-size: 100% 2px;
    }
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
    font-family: $titleFont;
    font-weight:$textRegular;
    color:map-get($map:$palette, $key:'blue');
}
p{
    font-family: $mainFont;
    font-weight:$textLight;
    color:map-get($map:$palette, $key:'darkBlue');
}
a{
    text-decoration: none;
}
.banner{
    background-image: url(../img/banner.webp);
    background-size: cover;
    height: 20vh;
    @include medias(tablet){
        height: 23vh;
    }
    h1{
        padding-top: 13vh;
        @include font-size(1.5rem,1.9rem,1.9rem);
        padding-bottom: 1vh;
        color: map-get($map:$palette, $key:'white');
        text-shadow:  -4px 4px 5px map-get($map:$palette, $key:'black');
        @include medias(tablet){
            padding-top: 14.5vh;
        }
    }
}
#footer{
    background-color: map-get($map:$palette, $key:'mainBg');
    width: 100%;
    height: 6vh;
    @include display-flex(row, center, center);
    @include medias (tablet){
        height: 9vh;
    }
    .footer__icon{
        height: 4vh;
        opacity: 0.8;
        margin-right: 0.8vw;
        &:hover{
            opacity: 1;
        }
        @include medias (tablet){
            height: 6vh;
        }
    }
}
#error{
    height: 80vh;
    @include display-flex(column, start, center);
    img{
        width: 65vw;
        max-width: 320px;
    }
    h1{
        margin-top: 2vh;
        @include font-size(1.2rem, 1.5rem, 1.5rem);
    }
    h2{
        @include font-size(1rem, 1.3rem, 1.3rem);
    }     
    .error__text{
        font-family: $mainFont;
        color: map-get($map:$palette, $key:'darkBlue');
        font-weight: $textBold;
    }
    .error__button{
        @extend .button;
        @include font-size(1rem, 1.3rem, 1.3rem);
        padding: 1vh 1vw;
        margin-top: 2vh;
        margin-bottom: 5vh;
    }
}