.structure__products{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "filters"
    "products"
    "carrito";
    #ProdFilters{
        grid-area: filters;
        font-family: $mainFont;
        .products__search--btn{
            @extend .button;
            img{
                height: 3.5vh;
                width: auto;
            }
        }
    }
    #ProdList{
        grid-area: products;
        @include display-flex(column, stretch, center);
        .products__figure{
            width: 90%;
            max-width: 400px;
            height: auto;
            padding: 3vh 3vw;
            border: map-get($map:$palette, $key:'aqua') solid 0.1em;
            border-radius: 3%;
            @include display-flex(column, center, center);
            .prod-img{
                width: 50vw;
                max-width: 300px;
                &:hover{
                    transform: scale(1.2);
                    transition: transform 1s;
                    cursor: pointer;
                }
                @include medias (tablet){
                    width: 30vw;
                    max-width: 300px;
                }
                @include medias (desktop){
                    width: 15vw;
                }     
            }
            figcaption{
                font-family: $mainFont;
                font-size: 1.1rem;
                font-weight: $textRegular;
                margin-top: 2vh;
                text-align: center;
                height: 55px;
            }
            @include medias (tablet){
                width: 45%;
            }
            @include medias (desktop){
                width: 30%;
                margin-right: 1.5vw;
            }
            .btn-carrito  {
                @extend .button;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-right: 0.5vw;
                img{
                    width: 2.5vw;
                    padding: 0;
                    margin-left: 0.5vw;
                }
            } 
        }
        .emptySpace{
            width: 90%;
            max-width: 400px;
            height: auto;
            padding: 3vh 3vw;
            border: none;
            border-radius: 3%;
            @include display-flex(column, center, center);
            @include medias (tablet){
                width: 45%;
            }
            @include medias (desktop){
                width: 30%;
                margin-right: 1.5vw;
            }   
        }
        @include medias (tablet){
            @include display-flex(row, space-around, center);
            flex-wrap: wrap;
        }
        @include medias (desktop){
            justify-content: center;
        }
    }
    #carritoCompras{
        grid-area: carrito;
        h3{
            text-align: start;
            font-size: 1.5rem;
            font-weight: $textBold;
            margin: 5vh 0;
            padding: 1.5vh 1vw;
            border-bottom: solid map-get($map:$palette, $key:'darkBlue') 0.07em;
        }
        h4{
            font-size: 0.9rem;
            @include medias (tablet){
                font-size: 1.2rem;
            }
        }
        .prodAgregado{
            border-bottom: 0.05em solid rgb(82, 182, 154);
            font-size: 1rem;
            .prodAgregadoImgNombre{
                @include display-flex(column, center, start);
                p{
                    font-size: 0.8rem;
                    font-weight: $textBold;
                    height: 100%;
                    padding-bottom: 0.5vh;
                    @include medias(tablet){
                        font-size: 1rem;
                    }
                } 
                img{
                    padding-top: 1vh;
                    width: 10vw;
                    max-width: 100px;
                }
                @include medias(tablet){
                    @include display-flex(row, start, center);
                    padding: 1vh 0;
                }
                
            }
            .prodAgregadoPrecio{
                @include display-flex(row, center, center);
                font-size: 0.8rem;
                height: 100%;
                padding: 0.7vh 0;
                }
                @include medias(tablet){
                    font-size: 1.2rem; 
                }
            .prodAgregadoCantidad{
                @include display-flex(row, center, center);
                justify-content: center;
                height: 100%;
                padding: 1vh 0;
                .prodAgregadoCantidadInput{
                    width: 10vw;
                    margin-right: 0.5vw;
                    @include medias (tablet){
                        width: 5vw;
                        margin-right: 0.5vw;
                    }
                }
                .btnDelete{
                    background-color: rgb(255, 0, 0);
                    border-radius: 3px;
                }
            }
        }
        .carritoTotal{
            @include display-flex(row, center, center);
            border-top: solid map-get($map:$palette, $key:'darkBlue') 0.07em;
            h5{
                margin-top: 3vh;
                font-size: 1.3rem;
                font-weight: 700;
            }
            h6{
                font-size: 1.3rem;
                margin-left: 1vw;
                margin-top: 3vh;
                border: solid 0.1em rgb(82, 182, 154);
                border-radius: 5px;
                padding: 0.7vh 0.7vw;
            }
            .comprarBtn{
                @extend .button;
                font-size: 1.2em;
                padding: 0.5vh 0.5vw;
                margin-left: 3vw;
                margin-top: 3vh;
                margin-bottom: 1.5vh;
              }
        }
    }
    @include medias (desktop){
        grid-template-columns: 20% 80%;
        grid-template-areas:
        "filters products"
        "carrito carrito";
    }
}